* {
  font-family: 'open-sans', sans-serif;
  font-weight: 400;
}

img {
  width: 50px;
}
header {
  background-color: #455A64;
  padding: 10%;
}
h1 {
  color: #FFFFFF;
}

div {
  border: 2px solid #607D8B;
  background-color: #F2F2F4;
  padding: 25px;
}

div p {
  border-bottom: 2px solid #607D8B;
}



h2 {
  border-bottom: 2px solid #607D8B;
  padding: 10px;
}

h3 {
  display: flex;
  justify-content: center;
}