*,
*:after,
*:before {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-size: 400;
}

body {
  margin: 0;
  padding: 0;
}

img {
  width: 50px;
}

h1 {
  color: #ffffff;
  text-align: center;
  font-weight: 800;
}

h2 {
  font-weight: 800;
  font-size: 1em;
  padding: 0;
  margin: 0;
  padding-top: .5em;
  color: #455a64;
}
h3 {
  display: flex;
  justify-content: center;
}
h4 {
  color: #ffc107;
}
h5 {
  color: #ffc107;
}
.wrapper {
  display: grid;
  min-height: 100vh;
  height: 100%;
  min-width: 100%;
  margin: 0;
  padding: 0;
  grid-template-columns: 1fr;
  grid-template-areas:'header'
                      'main';
}

.wrapper header {
  text-align: center;
  justify-items: center;
  background-color: #455a64;
  padding: .5em 0;
  grid-area: header;
}

header button {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 25px auto;
  font-weight: 800;
  font-size: 1.5em;
  color: #ffffff;
  outline: none;
  border: 0;
  text-decoration: none;
  background-color: #ffc107;
  padding: 5px;
}

header button:hover {
  color: #fff;
  background-color: #ffd773;
}

form {
  margin: 0 auto;
  width: 90%;
}
input {
  width: 100%;
  display: block;
  margin: 25px auto;
  height: 2.5em;
  font-size: 1em;
  color: #455a64;
  border: 0;
  outline-color: #ffc107;
  padding: .3em;
}

.wrapper main {
  overflow: scroll;
  height: 100vh;
  justify-items: center;
  padding: 3%;
  grid-gap: .5em;
  background-color: #cfd8dc;
  grid-area: main;
}

main article {
  overflow: hidden;
  font-size: 1em;
  max-width: 90vw;
  margin: 3% auto;
  border: 2px solid #607d8b;
  background-color: white;
  padding: .5em;
  height: auto;
}

main article p {
 
  color: #607d8b;
  padding: 1em 0;
  border-top: 1px solid #cfd8dc;
  border-bottom: 1px solid #cfd8dc;
  width: 100%;
}

main article p a {
  color: #607D8B;
  text-decoration: underline #f2f4f4;
 
}

main article p a:hover {
  font-weight: 800;
  color: #455a64;
  text-decoration: underline #ffc107;
}


.read-and-delete {
  color: #455a64;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.read-and-delete button {
  outline: 0;
  font-size: 1em;
  color: #455a64;
  text-decoration: underline #f2f4f4;
  border: 0;
}

.read-and-delete button:hover {
  font-weight: 800;
  text-decoration: underline #ffc107;
}


.read {
  background-color: #F2F4F4;
}

.read #read {
  outline: 0;
  border: 0;
  color: #F05A28; 
  font-weight: 800;
  text-decoration: none;
  background-color: #F2F4F4;
}

.read #read:hover {
  border: 0;
  color: #F05A28; 
  text-decoration: none;
  background-color: #F2F4F4;
}

.read a {
  text-decoration: underline #cfd8dc;
}

.read a:hover {
  color: #455a64;
  font-weight: 400;
  text-decoration: underline #cfd8dc;
}

.read button {
  text-decoration: underline #cfd8dc;
  background-color: #F2F4F4;
  border: 0;
}

.read .delete-button {
  border: 0;
  color: #607d8b;
  text-decoration: underline #cfd8dc;
}

.read .delete-button:hover {
  border: 0;
  color: #455a64;
  font-weight: 400;
  text-decoration: underline #cfd8dc;
}

.delete-button {
  background-color: transparent;
}

@media only screen and (min-width: 550px) {
  .wrapper {
    grid-template-columns: 20em 1fr;
    grid-template-areas: 'header main';
  }

 main {
   display: block;
 }
 main article {
   margin: 3% 0;

 }
}

@media only screen and (min-width: 768px) {
  .wrapper > main {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: 1fr 1fr;
  }
  main article {
    width: 90%;

  }
}

@media only screen and (min-width: 1200px) {
  .wrapper > main {
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(3, 1fr);
  }
}
